.catalog-container{
    font-size: 18px;
}

.catalog-title-container{
    margin-bottom: 20px;
    text-align: center;
}

.students-page-logo svg{
    height: 40px;
    width: 90px;
    color: #A00909;
}

.students-column a {
    text-decoration: none;
}

@media(min-width: 576px){

    .catalog-container{
        font-size: 26px;
    }
}

@media(min-width: 1200px){
    .catalog-title-container{
        display: flex;
        align-items: center;
    }

    .catalog-title-container h1{
        margin-right: 25px;
    }

    .students-search-bar-container{
        flex: 1;
    }
}