.the-best-card-container{
    padding: 15px;
    color: black;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.the-best-card-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.the-best-card-content-container h1{
    color: #A00909;
    width: 100%;
    border-bottom: 1px silver solid;
    margin-bottom: 20px;
}

.the-best-card-content-container p{
    color: #9E9E9E;
    width: 100%;
    border: 1px silver solid;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px silver;
}

.the-best-card-image-container h2{
    color: #080E1E;
    width: 100%;
    text-align: right;
    font-size: 20px;
    font-family: 'Caveat';
}

.the-best-card-image-container img{
    height: auto;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #A00909;
    margin-bottom: 10px;
}