.clock{
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #080E1E, #063B63);
    height: 100px;
    max-width: 270px;
    color: #19C1FF;
    text-shadow: 1px 1px 1px;
    border-radius: 15px;
    border: 2px solid silver;
    box-shadow: 0 0 1px 1px;
    
}

.clock section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.clock section p{
    font-size: 1.2rem;
    margin-bottom: 0;
    color: #C9C9C9;
    font-family: 'Playfair Display';
}

.clock section small{
    color: #C9C9C9;;
    text-shadow: none;
    font-size: 0.8rem;
    font-family: 'Playfair Display';
    letter-spacing: -0.03em;
}

@media(min-width:576px){

    .clock{
        margin-top: 50px;
        height: 200px;
        max-width: 570px;
        box-shadow: 0 0 5px 5px;
    }

    .clock section p{
        font-size: 2rem;
    }
    
    .clock section small{
        font-size: 1rem;
    }

}

@media(min-width:768px){

    .clock{
        height: 250px;
        width: 500px;
    }
    
    .clock section p{
        font-size: 3.5rem;
    }
    
    .clock section small{
        font-size: 1.5rem;
    }
}

@media(min-width:1200px){

    .clock{
        height: 300px;
        width: 500px;
    }
    
    .clock section p{
        font-size: 3.5rem;
    }
    
    .clock section small{
        font-size: 1.5rem;
    }
}
