.main-nav{
    min-height: 70px;
    padding-left: 40px;
}

.main-menu {
    display: flex;
    font-size: 20px;
    width: 380px; /* tamanho do início do home até o final do admin */
    justify-content: space-between;
}

.nav-logo-text, .nav-logo-text:hover{
    color: white;
    text-decoration: none;

    display: flex;
    align-items: center;
}

.nav-logo-text h4 {
    margin-bottom: 0;
}

.nav-logo-text img {
    height: 30px;
}

.main-menu a, .main-menu a:hover{
    text-decoration: none;
    color: #FFF;
}

.main-menu a.active {
    color: #3175A3;
    font-weight: bold;
}

.nav-login-logout {
    display: none;
}

.nav-username {
    display: none;
}

.nav-login-logout a {
    text-decoration: none;
    font-size: 1.2em;
    padding: 8px 14px;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
}

.nav-login-logout a:hover{
    color: wheat;
}

@media(min-width:576px){

    .nav-logo-text img {
        height: 35px;
        margin-left: 15px;
    }
}

@media(min-width:768px){

    .nav-logo-text img {
        height: 40px;
        margin-right: 3px;
    }

    .nav-login-logout {
        display: unset;
        color: white;
        margin-right: 20px;
    }
}

@media(min-width:992px){
    .nav-login-logout {
        margin-right: 40px;
    }

    .nav-username {
        display: unset;
        margin-right: 20px;
    }
}

@media(min-width:1200px){

    .main-menu {
        font-size: 22px;
    }

    .nav-logo-text h4 {
        font-size: 28px;
    }

    .nav-logo-text img {
        height: 55px;
        margin-left: 25px;
    }
}