.student-details-container{
    padding: 10px;
    font-size: 20px;
}

.student-details-card {
    padding: 0px 10px 10px 10px;
    background: linear-gradient(360deg, #E6E3D5, #FFF) !important;
}

.student-details-buttons-container{
    display: flex;
    justify-content: space-between;
}

.gonext-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

.gonext-container svg {
    color: #A00909;
}

.student-details-img-container {
    text-align: center;

    border: 1px #E1E1E1 solid;
    border-radius: 20px;
    padding: 10px;
}

.student-details-img-container img {
    max-width: 100%;
    border-radius: 50%;
    border: 3px solid rgba(156, 151, 151, 0.541);
}

.card-bottom-container{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
}

.card-bottom-container-postit{
    display: flex;
    justify-content: center;
}

.card-bottom-container-postit img{
    height: 125px;
    margin: 0px 0 20px 0px;
}

.description-container{
    border: 1px #E1E1E1 solid;
    border-radius: 20px;
    padding: 10px;
}

.description-container-text h2 {
    color: #A00909;
    letter-spacing: -0.015em;
    font-size: 1em;
    margin-bottom: 20px;
    text-decoration: underline;
}

.description-container-text p {
    color: #9E9E9E;
    letter-spacing: -0.015em;
    font-size: 1em;
    font-family: 'Caveat';
}

.contact-container {
    text-align: center;

    border: 1px #E1E1E1 solid;
    border-radius: 20px;
    padding: 10px;

    display: flex;
    flex-direction: column;

    margin-top: 10px;

}

.contact-container-text h2 {
    color: #9E9E9E;
    letter-spacing: -0.015em;
    font-size: 0.8em;
    margin: 5px 0 10 0px;
}

.contact-container img {
    height: 40px;
    width: auto;
}

.contact-container-imgs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.current-location-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-top: 15px;

    border: 1px #E1E1E1 solid;
    border-radius: 20px;
    padding: 20px;
}

.current-location-container-text{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.current-location-container-text img{
    height: 25px;
}

.current-location-container-text h6 {
    color: #9E9E9E;
    margin: 0;
    font-size: 0.7em;
}

.current-location-container-text h5 {
    font-size: 0.7em;
    margin-bottom: 0;
    margin-left: 5px;
    color: #A00909;
}

.current-location-container-imgs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.current-location-container-imgs img{
    /*height: 105px;*/
    height: 48px;
    width: auto;
    border-radius: 7%; 

}

.birthdate-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
}

.birthdate-container img {
    height: 20px;
    margin: 0 5px 3px 5px;
}

.birthdate-container h6 {
    margin-bottom: 0;
}

@media(min-width : 576px){

    .student-details-img-container img {
        height: 400px;
        width: 400px;

    }

    .student-details-container{
        font-size: 26px;
    }

    .student-details-card {
        margin: 20px;
        padding: 0 20px 20px 20px 20px;
    }

    .current-location-container-imgs img{
        height: 88px;
    }

    .card-bottom-container{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .card-bottom-container-postit img{
        height: 165px;
        margin: 20px;
    }
}

@media(min-width : 992px){

    .student-details-container{
        padding: 30px;
    }

    .student-details-card {
        padding: 0 40px 40px 40px; 
        margin: 0px 200px 0 200px;
    }

    .description-container{
        padding: 40px;
    }

}

@media(min-width : 1200px){

    /* borda até embaixo */
    .description-container {
        min-height: 312px;
    }

    .description-container-text P{
        font-size: 1.1em;
    }

    .student-details-card {
        margin: 0px 100px 0 100px;
    }

    .current-location-container-imgs img{
        /*height: 105px;*/
        height: 78px;
    }

}

@media(min-width : 1400px){

    .student-details-card {
        margin: 0px 200px 0 200px;
    }

}

@media(min-width : 1600px){

    .current-location-container-imgs img{
        height: 100px;
    }

}

