.main-container{
    padding: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 36px;

    max-height: 825px;
}

.image-container {
    display:none;
}

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    padding: 20px;
    border: 3px solid rgba(219, 213, 213, 0.5);
    border-radius: 20px;

    background-color: rgba(0, 0, 0, 0.308);
}

.content-container-logo img{
    height: 200px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 5px 5px 15px silver;
}

.content-container p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.45em;
    font-family: 'Courier Prime';
    text-transform: uppercase;
}

.content-container button {
    font-size: 0.45em;
    text-decoration: none;
    border-radius: 0;
    opacity: 90%;
    width: 210px;
    border-radius: 10px;
}

.content-container button:hover{
    border: 1px solid white;
    opacity: 100%;
}


@media(min-width:576px){

    .main-container{
        padding: 40px;
        margin: 20px;
        font-size: 48px;
    }
    .content-container h1{
        margin-bottom: 20px;
    }
    
    .content-container p{
        margin-bottom: 40px;
    }

    .image-container {
        display:none;
    }

    .content-container button{
        width: 294px;
    }
}

@media(min-width:768px){
    .main-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 0;
    }

    .image-container {
        display:flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .image-container img{
        width: 150px;
        height: auto;
        margin-right: 20px;
        margin-bottom: 680px;
    }

    .content-container{
        height: calc(90vh - 40px);
        max-width: 300px;
        display: flex;
        border-radius: 10px 0px 0px 10px;
        justify-content: flex-start;
    }

    .content-container button{
        border-radius: 0px;
    }

}

@media(min-width:1200px){

    .main-container{
        padding: 20px 0;
        margin: 40px 150px 40px 150px;
    }

    .content-container{
        margin-left: 0;
    }

}

@media(min-width:1700px){

    .main-container{
        margin: 30px 270px 30px 270px;
    }

}