.the-best-page-container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(min-width:576px){
    .the-best-page-container{
        margin: 20px;
    }
}

@media(min-width:768px){
    .the-best-page-container{
        margin: 40px;
    }
}