.diary-main-page-container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diary-main-page-buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.diary-main-page-buttons-container button{
    margin: 0px 10px 30px 10px;
    width: 200px;
    font-size: 25px;
}

@media(min-width:576px){
    .diary-main-page-container{
        margin: 20px;
    }
}

@media(min-width:768px){
    .diary-main-page-container{
        margin: 40px;
    }

    .diary-main-page-buttons-container{
        flex-direction: row;
    }
}
