.diary-main-page-container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width:576px){
    .diary-main-page-container{
        margin: 20px;
    }
}

@media(min-width:768px){
    .diary-main-page-container{
        margin: 40px;
    }
}
